<p id="notice"><%= notice %></p>

<h1>Instance Id Used i-85a007b4</h1>

  <strong>Instanceid:</strong>
  <%= @something.instanceid %>


  <strong>Todo action:</strong>
  <%= @something.todo_action %>
<p> The instance has been started at <%= Time.now%></p>

